#gymnasium-txt{
    font-family: Jo;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    padding-left: 20px;
}

#university-txt {
    font-family: Jo;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    padding-left: 20px;
}

#rcs-txt {
    font-family: Jo;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    padding-left: 20px;
}

#education-title{
    align-items: flex-end;
	margin-left:10%;
    font-family: Jo;
    font-weight: 700;
    font-size: 50px;
	font-style: normal;
	position: absolute;
	margin-left: 10vw ;
	margin-top: 80vh ;
	color: white;
}

#footer{
	font-family: Jo;
	font-weight: 500;
	font-style: lighter;
	font-size: 20pt;
	align-self:center;
	color: white;
}

#social{
	display:grid;
	grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column:2/3;
    grid-row:1/2;
}

